streamlit==1.28.0
pandas==2.0.0
plotly==5.18.0
opencv-python-headless==4.10.0.84
scikit-learn==1.3.0
streamlit-extras==0.3.0
streamlit-option-menu==0.3.2
numpy==1.24.0
Pillow==10.0.0
torch==1.12.0
torchvision==0.13.0
matplotlib==3.5.0
